@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@300&display=swap');

.explosion {
  position: absolute; 
  width: 600px;
  height: 600px;
  pointer-events: none; 
}

h1{
  font-family: 'Lato', sans-serif;
}

.particle {
    position: absolute; 
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

.color-button{
  height: 32px!important;
  width: 80px!important;
  border: 2px solid #f1f4f8!important;
  border-radius: 6px!important;
  transition: none 0s ease 0s;
  margin-left: 1rem;
  margin-right: 1rem;
  background: rgb(219, 214, 214);
}

.colorscontainer, .solidColorContainer{
  margin-top: 1rem;
  display: flex;
  width: 40%;
  margin-left: 38%;
}

.solidColorContainer{
  margin-left: 42%;
}


.header{
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.slider{
  width: 20rem;
}


.logo{
  margin: 2rem;
  font-size: 2rem;
  color: rgba(139, 147, 161, 0.829);
}

.formText{
  margin-top: 2rem;
}

.logo:hover{
  cursor: pointer;
  color: rgba(109, 32, 119, 0.938);
  transition: color 1s;
}

.logos{
  border-bottom: .5rem solid rgb(144, 42, 192);
  width: 25%;
  margin: auto;
}

.settings{
  margin-top: 20rem;
  margin-bottom: 7rem;
  width: 100%;
  text-align: center;
}

.subtitle{
  border-bottom: .3rem solid rgb(192, 42, 185);
  width: 13%;
  padding-bottom: 1rem;
  margin: auto;
}


html, body {
  background: white;
}
.click {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #CCC;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  cursor: default;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bottom{
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: rgb(184, 106, 194);
  bottom: 0;
  height: 4rem;
}

.bottom span{
  color: white;
}

.bottom a{
  text-decoration: none;
  color: white;
}

.bottom a:hover{
  text-decoration: none;
  color: lightblue;
}

/* Colors */
.corner-ribbon.blue{background: #39d;}

