@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@300&display=swap');

.explosion {
  position: absolute; 
  width: 600px;
  height: 600px;
  pointer-events: none; 
}

.mode-toggle{
  font-size: 2rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
  background-color: rgb(231, 227, 227);
  padding-left: .5rem;
  padding-right: .5rem;
  border: 2px solid rgb(231, 227, 227);
  color: rgb(119, 24, 119);
  border-radius: 4px;
}

.mode-toggle:hover{
  cursor: pointer;
}

h1{
  font-family: 'Lato', sans-serif;
}

.particle {
    position: absolute; 
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 55%;
    left: 50%;
    opacity: 1;
  }
}

.color-button{
  height: 32px!important;
  width: 80px!important;
  border: 2px solid #f1f4f8!important;
  border-radius: 6px!important;
  transition: none 0s ease 0s;
  margin-left: 1rem;
  margin-right: 1rem;
  background: rgb(219, 214, 214);
}

.colorscontainer, .solidColorContainer{
  margin-top: 1rem;
  display: flex;
  width: 40%;
  margin-left: 38%;
}

.solidColorContainer{
  margin-left: 42%;
}


.header{
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.slider{
  width: 20rem;
}


.logo{
  margin: 2rem;
  font-size: 2rem;
  color: rgba(139, 147, 161, 0.829);
}

.formText{
  margin-top: 3rem;
}

.logo:hover{
  cursor: pointer;
  color: rgba(109, 32, 119, 0.938);
  transition: color 1s;
}

.logos{
  width: 25%;
  margin: auto;
}

.settings{
  margin-top: 20rem;
  margin-bottom: 7rem;
  width: 100%;
  text-align: center;
}

.cursor-img{
  width: 5rem;
  height: 5rem;
}

.slidecontainer{
  margin-bottom: 2rem;
}

.subtitle{
  width: 13%;
  padding-bottom: 1rem;
  margin: auto;
}


html, body {
  background: white;
}

.top{
  display: flex;
  width: 30%;
  text-align: center;
  margin: auto;
}

.top .cursor-img{
  margin-left: 3rem;
}

.top .title{
  padding-left: 1rem;
  padding-top: 1rem;
}

.click {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #CCC;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  cursor: default;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bottom{
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: rgb(144, 42, 192);
  bottom: 0;
  height: 4rem;
}

.bottom span{
  color: white;
}

.bottom a{
  text-decoration: none;
  color: white;
}

.bottom a:hover{
  text-decoration: none;
  color: lightblue;
}


/* Colors */
.corner-ribbon.blue{background: #39d;}


@media only screen and (max-width: 600px) {
  .logos{
   display: none;
  }

  .click{
    top: 35%;
  }

  .subtitle{
    width: 30%;
  }

  .mode-toggle{
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .subtitle{
    width: 35%;
  }

  .mode-toggle{
    display: none;
  }

  .top{
    width: 50%;
  }
}

@media only screen and (max-width: 950px) {

  .top{
    width: 55%;
  }
  
}

@media only screen and (max-width: 1000px) {

  .logos{
    width: 50%;
  }

  .subtitle{
    width: 35%;
  }

  .top{
    width: 45%;
  }
  
}

@media only screen and (max-width: 1200px) {
  .logos{
    width: 40%;
  }

  .subtitle{
    width: 35%;
  }

  .top{
    width: 40%;
  }
}


.circle {
  position: absolute;
  width: 500px;
  height: 20px;
  background: radial-gradient(16px, transparent, transparent 4px, rgb(144, 42, 192) 4px, rgb(144, 42, 192) 10px, transparent 11px);
  background-size: 30px 40px;
}

.circle2 {
  /* Offset to make squigglies line up */
  top: 20px;
  left: 15px;
  background-position: 0px -20px;
}


.holder {
  position: relative;
  width: 300px;
  height: 50px;
}
.clip {
  /* Clip edges, as some of the lines don't terminate nicely. */
  overflow: hidden;
  margin: auto;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* DARK Mode code */

.dark-mode{
  background-color: #201a30;
}

.dark-mode-text{
  color: white;
}

.dark-mode-button{
  background-color: #614aa0;
  color: white;
}

.dark-mode-ribbon{
  background: #614aa0 !important;
}